__pycache__


# postgrest-react
*.puml
postgrest-react/react/build/
postgrest-react/react/nginx_local.conf
postgrest-react/react/node_envs.sh
postgrest-react/react/node_modules/
postgrest-react/rest/postgrest_local

# prest-react
prest-react/flask/env/
prest-react/nginx_local.conf
prest-react/postgres/test_database.sh
prest-react/prest/local_config.toml
prest-react/prest/local_prest
prest-react/prest/prest_01
prest-react/react/build/
prest-react/react/node_envs.sh
prest-react/react/node_modules/
prest-react/run_local.md
prest-react/TODOs.md
