__pycache__
env
docke
docker_commands.html
notes.html
Questions.html
restart_users-service.sh
run_env.sh
initialize_project.sh
test_docker.sh
docker_versions.sh
restart_users-service.sh
env

# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editors
*.sublime-*

# files
http_auth.txt
jwt_auth.txt
prest-react/prest/local_config.toml
prest-react/prest/local_prest
prest-react/prest/alpine_prest
prest-react/prest/prest_01
prest-react/postgres/test_database.sh

prest-react/TODOs.md
prest-react/TODOs.html
prest-react/nginx_local.conf
prest-react/run_local.md
prest-react/curl.md
prest-react/curl.html

postgrest-react/rest/postgrest_local

# directories
/prest/keys/
